<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<!-- Application Loggers -->
	<logger name="kr.re.ec.queryfly.analyzer">
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.springframework.context">
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<!-- mute driver cluster log -->
	<logger name="org.mongodb.driver.cluster">
		<level value="info" />
		<appender-ref ref="consoleAppender" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>